// font
$primaryFont: 'VT323', monospace;

// colors
$primaryColor: black;
$secondaryColor: rgba(255,255,255,.75);
$tertiaryColor: rgba(0,0,0,.75);
$offOrange: rgba(236, 143, 57, .75);

$astNormal: #eee;
$astHit: #fff;
